{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% for places in dishesByPlaces %}
            <div class="card">
                <a href="{{ path('dishes', {'id' : places.place.id}) }}"><h1>{{ places.place.name }}</h1></a>
                <img width="500px" src="{{ vich_uploader_asset(places.place, 'imageFile') }}">
                <table border="1px" style="text-align: center" class="table">
                    <tr>
                        <th>Название блюд</th>
                        <th>Покупок за последней год</th>
                        <th>Картинка</th>
                    </tr>
                    {% for dishes in places.dishes %}
                        <tr>
                            <td>{{ dishes.dish.name }}</td>
                            <td>{{ dishes.amount }}</td>
                            <td><img width="200px" src="{{ vich_uploader_asset(dishes.dish, 'imageDish') }}"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}