.container{    width: 50%;    margin: 0 auto;}.card{    background: #f4f4f4;    margin: 20px 0;    text-align: center;    padding: 20px;    box-shadow: 0 0 10px rgba(0,0,0,0.5);}.table{    margin: 0 auto;}